#container {
	margin: 0 auto;
	width: 100%;
	background: #fff;
}

#header {
	background: #ccc;
	padding: 20px;
}

#header h1 {
	margin: 0;
}

#navigation {
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul {
	margin: 0;
	padding: 0;
}

#navigation ul li {
	list-style-type: none;
	display: inline;
}

#navigation li a {
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover {
	background: #383;
}

#content-container {
	float: left;
	width: 100%;
	background: #FFF repeat-y 68% 0;
}

#content {
	clear: left;
	float: left;
	width: 60%;
	padding: 20px 0;
	margin: 0 0 0 4%;
	display: inline;
}

#content h2 {
	margin: 0;
}

#aside {
	float: right;
	width: 26%;
	padding: 20px 0;
	margin: 0 3% 0 0;
	display: inline;
}

#aside h3 {
	margin: 0;
}

#footer {
	clear: left;
	background: #ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
}

.article {
	word-wrap: break-word;
	background: #EEEEEE;
}

.articlecomments {
	width: 100%;
	margin: 0 auto;
	background-color: #EEEEEE;
}

.articlecomments tr:hover {
	background-color: #DDDDDD;
}

.articlecomments td {
	border: 1px solid #CCCCCC;
}

.article {
	margin: 5 auto;
	background-color: #EEEEEE;
	text-align: left;
	position: relative;
}

.article .title a {
	font-size: 1.5em;
	margin: 0.5em 5px;
	padding: 2px 0 0 0;
	text-decoration: none;
	color: #003434;
}

.article h3 {
	font-size: 1.17em;
	margin: 0.5em 5px;
}

.article .title a:hover {
	color: #338833;
}

.article .text {
	font-size: 1em;
	margin: 0.5em 1.5em;
	padding: 2px 0 0 0;
	text-decoration: none;
}

.article .author {
	font-size: 1em;
	margin: 0.5em 1.5em;
	padding: 2px 0 0 0;
	text-decoration: none;
}

.article .right {
	text-align: right;
	font-size: 0.8em;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.article .left {
	position: absolute;
	text-align: left;
	font-size: 0.8em;
	margin: 0 0.5em;
	padding: 0 0 0 0;
}

.article hr {
	color: #CCCCCC;
	background-color: #CCCCCC;
	height: 1px;
	width: 100%;
	text-align: center;
	border: 0;
}